@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
    --color-hijau: #2d6a4f;
    --color-hijau-muda: #40916c;
    --color-hijau-terang: #74c69d;
    --color-krem: #f8f3e8;
}
